body {
  padding: 30px;
}

h2 {
  font-family: "Hind Siliguri", sans-serif;
}

p {
  font-family: "Padauk", sans-serif;
  font-size: 18px;
}

footer {
  text-align: center;
}

#instructions4 {
  background-color: rgba(233, 229, 227, 0.788);
}
